/* -------------------------- */
/* STILE GENERALE DEL SITO    */
/* -------------------------- */

body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  max-width: 90%;
  margin: 20px 0;
}

/* -------------------------- */
/* STILE DEI BUTTON           */
/* -------------------------- */

button {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* spazio tra cuore e contatore */
}

/* -------------------------- */
/* LIKE BUTTON CUORE          */
/* -------------------------- */

#heart {
  display: inline-block;  /* serve per la trasformazione */
  transition: transform 0.15s ease;
}

.pop {
  animation: pop 0.3s forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}


/* -------------------------- */
/* NUMERO LIKE                */
/* -------------------------- */

#likeCount {
  font-weight: bold;
}
